---
layout: default
title: "Егор Бугаенко о политике"
description: |
  В этой русско-язычной части моего блога я пишу
  о политике, в основном, украинской
keywords:
  - егор бугаенко
  - политика
  - yegor256
---

<div itemscope="" itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
  <div class="wrapper">
    <section class="front" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
      <div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="http://www.yegor256.com/images/yegor-bugayenko-192x192.png"/>
        <meta itemprop="height" content="192"/>
        <meta itemprop="width" content="192"/>
      </div>
      <div itemscope="" itemprop="author" itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Егор Бугаенко"/>
      </div>
      <div itemscope="" itemprop="publisher" itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="yegor256.com"/>
        <div itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
          <meta itemprop="url" content="http://www.yegor256.com/images/yegor-bugayenko-192x192.png"/>
          <meta itemprop="height" content="192"/>
          <meta itemprop="width" content="192"/>
        </div>
      </div>
      <header>
        <h1>
          <a href="{{ post.url }}">
            <span itemprop="name headline mainEntityOfPage">{{ post.title }}</span>
          </a>
        </h1>
        <ul class="subline">
          <li>
            <time itemprop="datePublished dateModified" datetime="{{ post.date | date_to_xmlschema }}">
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d" }}
              {% case m %}
                {% when '1' %}Января
                {% when '2' %}Февраля
                {% when '3' %}Марта
                {% when '4' %}Апреля
                {% when '5' %}Мая
                {% when '6' %}Июня
                {% when '7' %}Июля
                {% when '8' %}Августа
                {% when '9' %}Сентября
                {% when '10' %}Октября
                {% when '11' %}Ноября
                {% when '12' %}Декабря
              {% endcase %}
              {{ post.date | date: "%Y" }}
            </time>
          </li>
          <li>
            <i class="icon icon-comments"></i>
            <a href="{{ site.url }}{{ post.url }}#disqus_thread" itemprop="discussionUrl">комментарии</a>
          </li>
        </ul>
      </header>
      <div class="main" itemprop="description">
        {{ post.excerpt }}
      </div>
      <p>
        <a href="{{ post.url }}" itemprop="url">
          Читать далее...
        </a>
      </p>
    </section>
  </div>
{% endfor %}
</div>

<div class="wrapper">
  <footer>
    <div class="pagination">
      <div class="left">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="/"><i class="icon icon-fast-backward"></i></a>
          {% else %}
            <a href="/p/{{ paginator.previous_page }}"><i class="icon icon-fast-backward"></i></a>
          {% endif %}
        {% else %}
          <span class="mute"><i class="icon icon-fast-backward"></i></span>
        {% endif %}
      </div>
      стр. {{ paginator.page }} из {{ paginator.total_pages }}
      <div class="right">
        {% if paginator.next_page %}
          <a href="/p/{{ paginator.next_page }}"><i class="icon icon-fast-forward"></i></a>
        {% else %}
          <span class="mute"><i class="icon icon-fast-forward"></i></span>
        {% endif %}
      </div>
    </div>
  </footer>
</div>

