---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru"
  itemscope="" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link rel="shortcut icon" href="http://www.yegor256.com/favicon.ico"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://www.yegor256.com/css/layout.css"/>
    <link rel="stylesheet" href="http://www.yegor256.com/css/icons.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <div class="wrapper">
      <aside class="header-toggle unprintable" id="header-toggle" title="показать меню"
        onclick="$('#header').show();$('#header-toggle').hide();">&#9776;</aside>
      <header class="header" id="header">
        <div class="face">
          <a href="/">
            <img src="//cf.jare.io/?u=http://www.yegor256.com/images/yegor-bugayenko-192x192.png" class="photo"
              alt="Егор Бугаенко"/>
          </a>
        </div>
        <nav>
          <ul class="menu social notranslate">
            <li><a href="https://twitter.com/intent/follow?screen_name=yegor256" rel="nofollow" title="читайте меня на Twitter"><i class="icon icon-twitter notranslate" aria-hidden="true"></i></a></li>
            <li><a href="/rss.xml" title="RSS лента"><i class="icon icon-rss notranslate" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/yegor256" rel="nofollow" title="читайте меня на Facebook"><i class="icon icon-facebook notranslate" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/yegor256/" rel="nofollow" title="смотрите меня на Instagram"><i class="icon icon-instagram notranslate" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/yegor256" rel="nofollow" title="мой LinkedIn профиль"><i class="icon icon-linkedin notranslate" aria-hidden="true"></i></a></li>
            <li><a href="mailto:ru@yegor256.com" rel="nofollow" title="ru@yegor256.com"><i class="icon icon-mail notranslate" aria-hidden="true"></i></a></li>
          </ul>
          <ul class="menu">
            <li><a href="/" title="главная">Главная</a></li>
            <li><a href="http://www.yegor256.com/about-me.html" title="об авторе">Об авторе</a></li>
            <!-- <li><a href="/contents.html" title="все статьи">Все&#160;{{ site.posts.size }}</a></li> -->
          </ul>
        </nav>
        <div class="search">
          <form method="get" action="https://www.google.com/search">
            <input name="sitesearch" value="ru.yegor256.com" type="hidden"/>
            <input type="text" id="search-query" class="field field-text"
              onfocus="$('.google').css('visibility', 'visible');" name="q" placeholder="Search" autocomplete="off"/>
            <input type="image" src="http://www.yegor256.com/images/google-search-icon.svg" class="google"
              title="найти через Google" alt="найти через Google"/>
          </form>
        </div>
      </header>
    </div>
    {{ content }}
    <script src="//code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="http://www.yegor256.com/js/all.js?{{ site.data['hash'] }}"></script>
    <script>var disqus_shortname = 'ru-yegor256-com';</script>
    <script id="dsq-count-scr" src="//ru-yegor256-com.disqus.com/count.js" async="async"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1963507-47', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
